<!DOCTYPE html>

<html lang="ro">
  <head>
    <meta
      name="keywords"
      content="flori,florarie,aranjament floral,buchet,buchet de flori,plante"
    />
    <meta
      name="description"
      content="Luxa este o una dintre cele mai vechi florarii din Bucuresti...(adauga cat mai multe cuvinte cheie)(100 chars)999"
    />
    <title>Luxa est.1992</title>
    <!--  -->
    <meta charset="UTF-8" />
    <meta name="author" content="Bigu Theodor" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/resurse/pictures/luxa-favicon.ico"
      type="image/x-icons"
    />
    <link rel="stylesheet" href="/resurse/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/resurse/js/hideNavbar.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/resurse/js/produse.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <!-- cerinta 6 -->
        <label id="burger" for="ch-meniu">
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </label>
        <input id="ch-meniu" type="checkbox" />
        <ul class="nav-links">
          <li class="dropdown-acasa">
            <a class="acasa main-li" href="/index.html"
              ><i class="fas fa-home"></i>Acasa</a
            >
            <ul class="submeniu">
              <li><a href="/index.html#despre-noi">Despre noi</a></li>
              <li>
                <a href="/index.html#calendar-evenimente"
                  >Calendar evenimente</a
                >
              </li>
              <li><a href="/index.html#contact">Contact</a></li>
            </ul>
          </li>
          <li class="dropdown-produse">
            <a class="main-li" href="/produse.html">Produse</a>
            <ul class="submeniu">
              <li><a href="/produse.html?tip=buchet">Buchete</a></li>
              <li><a href="/produse.html?tip=aranjament">Aranjamente</a></li>
              <li><a href="/produse.html?tip=planta">Plante</a></li>
            </ul>
          </li>
          <li>
            <a class="main-li" href="/inregistrare.html">Înregistrare</a>
          </li>
        </ul>
        <ul class="profile">
          <li>
            <a href="/profil.html"><i class="fas fa-user"></i></a>
          </li>
          <li>
            <div class="popup-div">
              <a href="/produse_cos.html"
                ><i class="fas fa-shopping-cart"></i
              ></a>
              <span class="popuptext" id="myPopup">Adăugat in coș 🛒</span>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container-produse">
        <section class="sec-filtrare">
          <h1 style="text-align: center; font-size: 2.5rem">Filtre:</h1>
          <label>
            <div class="search-container">
              <input type="text" id="inp-nume" class="search-box" />
              <span class="search-button">
                <span class="search-icon"></span>
              </span>
            </div>
          </label>
          <label>
            <div class="info-min">
              <p class="info-filtrare-pret">Preț minim:</p>
              <span class="valueMin" id="infoRange_min">0 lei</span>
            </div>
            <input type="range" id="inp-pret-min" value="0" min="0" max="300" />
          </label>
          <label>
            <div class="info-max">
              <p class="info-filtrare-pret">Preț maxim:</p>
              <span class="valueMax" id="infoRange_max">300 lei</span>
            </div>
            <input
              type="range"
              id="inp-pret-max"
              value="300"
              min="0"
              max="300"
            />
          </label>
          <!-- <div class="nr_fire_radio">
          Nr. fire:
          <label
            >9 sau mai putine
            <input id="i_rad1" name="gr_rad" value="1" type="radio" />
          </label>
          <label
            >21 sau mai putine
            <input id="i_rad2" name="gr_rad" value="2" type="radio" />
          </label>
          <label
            >mai mult de 21
            <input id="i_rad3" name="gr_rad" value="3" type="radio" />
          </label>
          <label
            >toate
            <input id="i_rad4" checked name="gr_rad" value="4" type="radio" />
          </label>
        </div> -->
          <div class="tip_flori_select">
            <label for="tip_flori">Alege tipul de flori: </label>

            <select name="tip_flori" id="tip_flori">
              <option value="">Oricare</option>
              <option value="mixt">Mixt</option>
              <option value="trandafiri">Trandafiri</option>
              <option value="garoafe">Garoafe</option>
              <option value="lalele">Lalele</option>
              <option value="orhidee">Orhidee</option>
              <option value="matthiola">Matthiola</option>
            </select>
          </div>
          <p>
            <button class="buton_filtrare" id="filtrare">Filtrează</button>
            <!-- <button id="resetare">Reseteaza</button><br /> -->
            <!-- <button id="sortCrescNume">
            Sorteaza crescator dupa nume si pret
          </button>
          <button id="sortDescrescNume">
            Sorteaza descrescator dupa nume si pret
          </button> -->
          </p>
        </section>
        <section id="produse">
          <!-- <h1>Produse</h1> -->
          <div class="grid-produse">
            <!-- <article id="<%-pr.id %>" class="produs">
            <a href="/produs/<%-pr.id %>">
              <figure>
                <img src="/resurse/pictures/produse/<%- pr.imagine %>" />
              </figure>
            </a>
            
            <p class="nume"><span class="val-nume"><%- pr.nume %></span></p>
            <div class="info-prod">
              <p class="pret">
                
                <h3><span class="val-pret"><%- pr.pret%></span> lei</h3>
              </p>
            </div>
            
            <button class="buton_cumpara">Adaugă in coș</button>
          </article> -->
          </div>
        </section>
        <div style="display: none" id="buyItems">
          <ul>
            <h4 class="empty">Coșul tău este gol</h4>
          </ul>
        </div>
        <div id="checkout" style="display: none">
          <h6 id="sum-prices"></h6>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Luxa</h4>
            <ul>
              <li><a href="/index.html">acasa</a></li>
              <li><a href="/index.html#despre-noi">despre noi</a></li>
              <li><a href="/index.html#contact">contact</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Produse</h4>
            <ul>
              <li><a href="/produse.html?tip=buchet">buchete</a></li>
              <li><a href="/produse.html?tip=aranjament">aranjamente</a></li>
              <li><a href="/produse.html?tip=planta">plante</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Recent pe blog:</h4>
            <section id="sectiune-galerie-animata">
              <div id="galerie-animata" class="galerie-a">
                <!-- <h2>Galerie animata</h2> -->
                <figure>
                  <img
                    src="/resurse/pictures/galerie/mic/floarea_soarelui-150.webp"
                  />
                  <!-- <figcaption><%-imag.descriere %></figcaption> -->
                </figure>
                <% } %>
              </div>
              <button class="blog-button" role="button">
                <span class="text">Hai să vezi</span>
              </button>
            </section>
          </div>

          <div class="footer-col">
            <h4>Follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-pinterest-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
